:root {
  --max-width: 1200px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
}
@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: black;
    --cursor-color: white;
    --font-color: white;
  }
  html {
    color-scheme: dark;
  }
}
@media (prefers-color-scheme: light) {
  :root {
    --bg-color: white;
    --cursor-color: black;
    --font-color: black;
  }
  html {
    color-scheme: light;
  }
}
* {
  box-sizing: border-box;
  min-width: 0;
}
body {
  color: var(--font-color);
  background: var(--light, hsl(0, 0%, 98%));
  margin: 0;
  padding: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
section {
  height: 70vh;
}
section:nth-child(2n+1) {
  background-color: gray;
}
section:nth-child(3n+1) {
  background-color: red;
}
.img__wrap {
  line-height: 0px;
}
.ccursor {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: all;
}
/* .ccursor:hover {
  transform: scale(3);
} */
.cursor {
  position: fixed;
  width: 20px;
  height: 20px;
  background-color: var(--cursor-color);
  border-radius: 50%;
  pointer-events: none;
  transition: transform 200ms ease-in-out;
  mix-blend-mode: difference;
}
body:has(:active) .cursor {
  transform: scale(0.5);
}
body:has(img:hover) .cursor, 
body:has(a:hover) .cursor {
  transform: scale(2);
}
/* Mobile */
@media (max-width: 768px) {
  
}
@media (max-width: 900px) {
  .cursor {
      display: none;
  }
}
/* Tablet and Smaller Desktop */
@media (min-width: 769px) and (max-width: 1024px) {

}

