@font-face{
  font-family: "Suisse Neue Light";
  src: url("/fonts/SuisseNeueLight.woff")format("woff"),
      url("/fonts/SuisseNeueLight.woff2")format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face{
  font-family: "Suisse Neue Medium";
  src: url("/fonts/SuisseNeueMedium.woff")format("woff"),
      url("/fonts/SuisseNeueMedium.woff2")format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face{
  font-family: "Suisse Intl Light";
  src: url("/fonts/SuisseIntlLight.woff")format("woff"),
      url("/fonts/SuisseIntlLight.woff2")format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face{
  font-family: "Suisse Intl Regular";
  src: url("/fonts/SuisseIntlRegular.woff")format("woff"),
      url("/fonts/SuisseIntlRegular.woff2")format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face{
  font-family: "Suisse Intl Bold";
  src: url("/fonts/SuisseIntlBold.woff")format("woff"),
      url("/fonts/SuisseIntlBold.woff2")format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --max-width: 1200px;
  --border-radius: 12px;
  --head-font: "Suisse Neue Medium";
  --head-i-font: "Suisse Neue Light";
  --body-font-300: "Suisse Intl Light";
  --body-font-400: "Suisse Intl Regular";
  --body-font-700: "Suisse Intl Bold";
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
  --cursor-color: #fff;
  --color-900: #000000;
  --color-800: #191919;
  --color-700: #333333;
  --color-600: #4C4C4C;
  --color-500: #7F7F7F;
  --color-400: #B2B2B2;
  --color-300: #CCCCCC;
  --color-200: #E5E5E5;
  --color-100: #FFFFFF;
  --purple-900: #010001;
  --purple-800: #0F0013;
  --purple-700: #3C004C;
  --purple-600: #6A0085;
  --purple-500: #9800BE;
  --purple-400: #AC32CB;
  --purple-300: #C166D8;
  --purple-200: #D599E5;
  --purple-100: #F4E5F8;
  --gold-900: #151101;
  --gold-800: #564505;
  --gold-700: #816707;
  --gold-600: #AC8A0A;
  --gold-500: #D7AD0D;
  --gold-400: #DFBD3D;
  --gold-300: #E7CD6D;
  --gold-200: #EFDE9E;
  --gold-100: #FBF6E6;
}
::selection{
  color: var(--purple-200);
  background-color: var(--gold-800);
}
::-webkit-scrollbar {
  width: 0px;
}
@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: hsl(247°, 0%, 9%);
    --font-color: var(--gold-100, #FBF6E6);
    --light: hsl(247°, 0%, 9%);
    --dark: hsl(0, 0%, 98%);
    --black: #000;
    --preloader-bg: #E5E5E5;
    --bg-hexa: #171717;
    --bg-alt-hexa: #FAFAFA;
    --btn-color: #000;
    --btn-border: #fff;
    --acd-border: #f7f7f7;
    --akandaDev: url('/images/akandaDevLight.svg');
  }
  html {
    color-scheme: dark;
  }
  .loading__progress{
    background-color: var(--gold-800);
  }
}
@media (prefers-color-scheme: light) {
  :root {
    --bg-color: hsl(0, 0%, 98%);
    --font-color: var(--purple-900, #010001);
    --light: hsl(0, 0%, 98%);
    --dark: hsl(247°, 0%, 9%);
    --black: #fff;
    --preloader-bg: #191919;
    --bg-hexa: #B2B2B2;
    --bg-alt-hexa: #171717;
    --btn-color: #fff;
    --btn-border: #000;
    --acd-border: #222;
    --akandaDev: url('/images/akandaDevDark.png');
  }
  html {
    color-scheme: light;
  }
  .loading__progress{
    background-color: var(--purple-300);
  }
}
*{
  box-sizing: border-box;
  min-width: 0;
}
main{
  overflow-x: clip;
}
body{
  position: relative;
  z-index: 0;
  display: grid;
  font-family: var(--body-font-300), Times New Roman, Times, serif;
  color: var(--font-color);
  background: var(--bg-color);
  margin: 0;
  padding: 0;
  width: 100vw;
  overflow-x: hidden;
}
a{
  color: inherit;
  text-decoration: none;
}
:is(h1, h2, h3, h4) {
  font-family: var(--head-font), Times New Roman, Times, serif;
  font-weight: lighter;
  margin: 0;
}
h1{
  font-size: clamp(1.65rem, 1.1834rem + 2.276vw, 4rem);
  overflow: hidden;
}
h2{
  font-size: clamp(1.5rem, 0.9718rem + 1.6901vw, 3rem);
  line-height: 150%;
}
h3{
  font-size: clamp(1.2rem, 0.741rem + 1.0492vw, 2rem);
  line-height: 150%;
}
h4{
  font-size: clamp(1rem, 0.7131rem + 0.6557vw, 1.5rem);
}
p{
  font-size: 1.2rem;
  letter-spacing: 0.06rem;
  line-height: 150%;
  margin: 0;
}
button{
  font-family: "Suisse Intl Light";
  font-size: 1.2rem;
  line-height: 150%;
  text-transform: capitalize;
  cursor: pointer;
  text-wrap: nowrap;
  transition: all 500ms ease-in-out;
}
button:focus-visible{
  border-color: red;
}
main{
  z-index: 1;
}
main, section{
  position: relative;
  background-color: var(--black);
}
section{
}
.stick{
  position: sticky;
  top: 0;
}
footer{
  position: sticky;
  bottom: 0;
  z-index: -1;
}
svg, path{
  transition: all 350ms ease-in-out;
}
.section__container{
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 100px 60px;
}
.hidden{
  display: none;
}
.img__wrap{
  line-height: 0px;
}
.ccursor{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: all;
}
.cursor{
  position: fixed;
  width: 20px;
  height: 20px;
  background-color: var(--cursor-color);
  border-radius: 50%;
  overflow: hidden;
  pointer-events: none;
  transition: transform 200ms ease-in-out;
  mix-blend-mode: difference;
  z-index: 9999;
}
body:has(:active) .cursor{
  transform: scale(0.5);
}
body:has(img:hover) .cursor, 
body:has(a:hover) .cursor{
  transform: scale(2);
}
body:has(h1:hover) .cursor {
  transform: scale(8);
}
body:has(.menu__control) header{
  mix-blend-mode: normal;
}
.cursor__pointer{
  cursor: pointer;
}
.grid__center{
  display: grid;
  align-content: center;
  justify-content: center;
}
.full__size{
  width: 100%;
  min-height: 100svh;
}
.section__bg{
  background-color: var(--bg-hexa);
}
.inline__pad{
  padding-inline: 3.125%;
}
.container__pad{
  padding: 100px 3.125%;
}
.loading__page{
  position: fixed;
  inset: 0;
  background-color: var(--black);
  z-index: 2;
  height: 100lvh;
  width: 100lvw;
  overflow: hidden;
}
.opening__ball{
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--preloader-bg);
  height: 200px;
  width: 200px;
  border-radius: 200px;
}
.loading__contents__wrapper{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  width: 100%;
  height: 100dvh;
}
.loading__contents__inner__wrapper{
  display: grid;
  height: 100%;
  justify-content: center;
  align-content: space-evenly;
}
.facts__wrapper{
  position: relative;
  display: grid;
  align-items: center;
  min-width: 80vw;
}
.fact__wrapper{
  position: absolute;
  width: 100%;
  padding: 10px;
  transition: opacity 500ms ease-in-out;
}
.fact__wrapper p{
  font-size: clamp(1.2rem, 0.6441rem + 2.7119vw, 4rem);
}
.fact__wrapper:has(p, h4), .see__more{
  color: var(--black);
}
.see__more{
  justify-self: flex-end;
  cursor: pointer;
}
.loading__progress{
  position: absolute;
  top: -20px;
  left: 0;
  width: 10px;
  height: 40px;
  border-radius: 0px 10px 10px 0px;
}
.italic{
  font-family: var(--head-i-font);
  font-style: italic;
  font-weight: 100;
}
.perspective__text{
  position: relative;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  transform-style: preserve-3d;
  transition: transform 0.75s cubic-bezier(0.76, 0, 0.24, 1);
}
.perspective__text span{
  transition: all 0.75s cubic-bezier(0.76, 0, 0.24, 1);
  pointer-events: none;
  text-transform: uppercase;
}
.perspective__text span:nth-of-type(2){
  position: absolute;
  transform-origin: bottom center;
  transform: rotateX(-90deg) translateY(9px);
  opacity: 0;
}
.perspective__text:hover span{
  transform: rotateX(90deg);
}
.perspective__text:hover  span:nth-of-type(1){
  transform: translateY(-100%);
  opacity: 0;
}
.perspective__text:hover span:nth-of-type(2){
  transform: rotateX(0deg) translateY(0px);
  opacity: 1;
}
.full__screen{
  min-height: 100vh;
  width: 100vw;
}
.sec__foot{
  position: sticky;
  bottom: 0;
  left: 0;
  padding: 20px 3.125%;
  overflow: hidden;
  mix-blend-mode: difference;
}
.cta__wrap__button .main__wrap {
  justify-items: flex-end;
}
/* CONTACT PAGE */
.hello::after{
  content: '👋🏾';
  font-style: normal;
  transition: all 300ms ease-in-out;
  animation: iconSwitch 5s ease-in-out 0ms infinite;
}
body:has(.social_svg:hover) .cursor{
  transform: scale(0.5);
}
/* PORTFOLIO PAGE */
.portfolio__hero h1 span:nth-child(2){
  opacity: 1 !important;
}
.portfolio__page__slider ul{
  aspect-ratio: 15/11;
}
.portfolio__page__slider .splide__slide{
  width: 100%;
}
.portfolio__page__slider :is(.splide__arrows, .splide__pagination){
  display: none;
}
.splide__slide{
  transition: all 200ms ease-in-out;
}
.portfolio__page__slider .splide__slide.is-active{
  overflow: hidden;
  transform: scale(1.05);
}
.portfolio__page__slider .splide__slide.is-active img{
  border-radius: 10px;
}
.portfolio__page__slider :is(.splide__slide.is-prev, .splide__slide.is-next){
  transform: scale(0.8);
}
.blog__related__section{
  & .splide__arrows.splide__arrows--ltr{
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    margin-bottom: 20px;
  }
  & .splide__arrow{
    padding: 10px;
    line-height: 0;
    border-radius: 50px;
    border: none;
    & svg{
      width: 60%;
    }
  }
  & .splide__pagination{
    display: none;
  }
}
.splide__arrow.splide__arrow--prev{
  transform: scaleX(-1);
}
@keyframes iconSwitch {
  25%{
      content: '👋';
  }
  50%{
      content: '👋🏼';
  }
  75%{
      content: '👋🏽';
  }
  100%{
      content: '👋🏾';
  }
}
.react-datepicker-wrapper.react-datepicker-wrapper{
  display: block;
}
h2.react-datepicker__current-month{
  font-size: 1rem !important;
}
.react-datepicker__time-container 
.react-datepicker__time 
.react-datepicker__time-box 
ul.react-datepicker__time-list::-webkit-scrollbar{
  width: 7px;
  background-color: var(--color-700);
}
::-webkit-scrollbar-thumb {
  background: var(--gold-300); 
  border-radius: 10px;
}
.react-datepicker__time-list-item[aria-disabled="true"]{
  display: none;
}
/* Mobile */
@media (max-width: 768px){
  button, p{
    font-size: 1rem;
  }
  .section__container{
    height: 70vh;
    padding: 50px 20px;
  }
  .full__screen {
    width: 100%;
}
}
@media (max-width: 900px) {
  .cursor, .sec__foot{
      display: none;
  }
  section{
  }
}
/* Tablet and Smaller Desktop */
@media (min-width: 769px) and (max-width: 1024px) {

}
/* ==========================
========================== */
/* JUST SOMETHING CRAZY */
.cursor__inner{
  position: relative;
  width: 100%;
  height: 100%;
}
.cursor__inner::after{
  position: absolute;
  top: 50%;
  left: 50%;
  color: var(--black);
  transform: translate(-50%, -50%);
  font-size: 4px;
  font-weight: 600;
  text-wrap: nowrap;
}
body:has(.drag:hover) .cursor{
  transform: scale(5);
  cursor: grabbing;
}
body:has(.drag:hover) .cursor__inner::after{
 content: 'Drag Me';
}