.hero{
    position: relative;
    min-height: 900px;
    display: grid;
    place-content: center;
    background-color: var(--black);
}
.hero__img__wrap{
    position: sticky;
    top: 10%;
    line-height: 0;
    width: 700px;
    height: 409px;
    border-radius: 20px;
    aspect-ratio: 700/409;
    overflow: hidden;
}
.hero__img__wrap img{
    width: 100%;
    height: 100%;
    pointer-events: none;
}
.hero__copy__wrap{
    display: grid;
    place-content: center;
    color: #F4E5F8;
    transform: translateY(-75px);
    mix-blend-mode: difference;
    pointer-events: none;
}
.hero__copy__wrap h1{
    font-size: 100px;
}
.hero__metadata__wrap{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    font-size: clamp(1.2rem, 0.741rem + 1.0492vw, 2rem);
}
.hero, .services__provided__sec{
    padding-block: 100px;
}
.main__copy__content__sec{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 40px;
    align-items: center;
    padding: 100px 3.125%;
}
.left__content__sec{
    display: grid;
    gap: 25px;
}
.right__content__sec, .img__slide{
    /* aspect-ratio: 15/11; */
    /* background-color: red; */
}
.img__slide img{
    width: 100%;
    height: 100%;
    aspect-ratio: 15/11;
    object-fit: cover;
    object-position: center;
}
.services__provided__sec{
    display: grid;
    gap: 20px;
    place-content: center;
    text-align: center;
    /* color: #000!important; */
    /* background-color: #F4E5F8; */
    background-color: var(--bg-hexa);
}
.services__provided__sec h2{
    justify-content: center;
}
.services__provided__list{
    display: flex;
    justify-content: center;
    gap: 5px;
    flex-wrap: wrap;
    text-wrap: nowrap;
    font-size: 1.2rem;
    letter-spacing: 0.06rem;
    line-height: 150%;
    margin: 0;
}
.services__provided__list span::after{
    content: ',';
}
.services__provided__list span:last-child::after{
    content: '.';
}
@media (max-width: 1050px){
    .hero{
        min-height: 500px;
    }
    .hero__img__wrap{
        justify-self: center;
    }
    .hero__copy__wrap h1{
        font-size: 50px;
    }
}
@media (max-width: 768px){
    .hero, .services__provided__sec{
        padding-block: 50px;
    }
    .hero__img__wrap{
        width: 100%;
        height: 100%;
    }
    .hero__copy__wrap h1{
        font-size: 48px;
    }
    .hero__metadata__wrap{
        gap: 10px;
    }
    .main__copy__content__sec{
        grid-template-columns: auto;
        gap: 20px;
        padding: 50px 3.125%;
    }
    .services__provided__list{
        gap: 3px;
        font-size: 1rem;
    }
}