.header {
    position: fixed;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
    mix-blend-mode: difference;
}
.burger {
    display: none;
    position: relative;
    gap: 8px;
    flex-direction: column;
    padding: 30px;
    pointer-events: none;
}
/* .burger::before, 
.burger::after {
    display: block;
    content: "";
    width: 30px;
    height: 2px;
    mix-blend-mode: difference;
    background-color: var(--cursor-color);
} */
.menu__button {
    position: relative;
    display: flex;
    align-items: center;
    cursor: default;
}
@media (prefers-color-scheme: light){
    .header{
        mix-blend-mode: normal;
    }
}
/* Mobile */
@media (max-width: 768px) {
 .logo {
    max-width: 50px;
    max-height: 50px;
    aspect-ratio: 1;
 }
 @media (prefers-color-scheme: dark){
    .header{
        mix-blend-mode: normal;
    }
}
}
/* Tablet and Smaller Desktop */
@media (min-width: 769px) and (max-width: 1024px) {

}