.blog__hero__wrap, .hero__wrap{
    position: relative;
    color: var(--gold-100);
    display: grid;
    row-gap: 20px;
    padding: 100px 3.125%;
    background-color: var(--purple-800);
    max-width: 1920px;
    width: 100%;
}
.blog__hero__wrap{
    min-height: 520px;
}
.hero__title__wrap{
    max-width: 500px;
}
.hero__metadata__wrap,
.hero__meta__blink{
    display: flex;
    align-items: center;
}
.hero__metadata__wrap{
    gap: 20px;
}
.metadata{
    border-left: solid 2px #D9D9D9;
    padding-left: 10px;
}
.hero__meta__blink{
    gap: 10px;
}
:is(.hero__meta__blink,.metadata) span{
    font-size: 2rem;
    line-height: 150%;
    letter-spacing: 0.1rem;
}
.hero__blinks{
    display: block;
    height: 30px;
    width: 30px;
    align-self: center;
    border-radius: 50px;
    transition: all 400ms ease-in-out;
    animation: blink 5000ms ease-in-out 0ms infinite;
}

@keyframes blink {
    from, to{
        background-color: #D9D9D9;
    }
    33.33%{
        background-color: #fe0000;
    }
    66.67%{
        background-color: #055205;
    }
}

.archive__cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 450px));
    justify-content: center;
    justify-items: center;
    margin-inline: auto;
    gap: 2rem;
    max-width: 1800px;
    width: 100%;
}
.archive__card{
    display: grid;
    gap: 20px;
    max-width: 500px;
    width: 100%;
}
.archive__card__img__wrap{
    aspect-ratio: 16/9;
    line-height: 0;
    overflow: hidden;
    border: solid 1px var(--bg-alt-hexa);
    border-radius: 10px;
}
.archive__card__img__wrap img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 16/9;
    filter: blur(2px);
    transition: all 350ms ease-in-out;
}
.archive__card:hover img{
    filter: blur(0px);
}
.archive__card__title{
    font-family: var(--head-font);
    font-size: clamp(1.2rem, 0.741rem + 1.0492vw, 2rem);
    line-height: 150%;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
}
/* SINGLE BLOG PAGE */
.blog__hero__img__wrap{
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.blog__hero__img__wrap img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top center;
    filter: blur(5px);
}
.blog__hero__copy__wrap{
    position: absolute;
    inset: 0;
    display: grid;
    align-content: center;
    row-gap: 20px;
    padding: 100px 3.125%;
    background-color: #0f0013e3;
    max-width: 1920px;
    width: 100%;
}
.interactive__sec{
    padding: 20px 3.125%;
    display: flex;
    justify-content: space-between;
    background-color: var(--bg-hexa);
}
.interactive__sub__sec{
    display: grid;
    gap: 10px;
}
.interactive__sub__sec span{
    font-size: clamp(0.875rem, 0.4789rem + 1.2676vw, 2rem);
}
.interactive__sub__sec a{
    font-family: var(--head-font);
    font-size: clamp(1.2rem, 0.5662rem + 2.0282vw, 3rem);
}
.share__topic{
    text-align: right;
}
.blog__body{
    background-color: var(--bg-color);
    padding-inline: 3.125%;
}
.blog__content__wrap{
    max-width: 1800px;
    padding: 10px;
    margin: 50px auto;
}
.blog__content__wrap h2{
    margin-block: 1rem;
}
.blog__content__wrap a{
    color: var(--gold-600);
}
.blog__content__wrap img{
    width: 100%;
}
.blog__content__wrap p{
    margin-block: 1rem;
}
.related__section__wrap{
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(7, 1fr);
    grid-auto-flow: dense;
    margin-block: 50px;
}
.related__title{
    grid-column: span 2;
}
.related__cards__wrap{
    grid-column: span 5;
}
.related__articles__wrap a{
    display: flex;
    gap: 10px;
    flex-direction: column;
    max-width: 300px;
}
.related__articles__img__wrap{
    width: 100%;
}
.related__articles__img__wrap img{
    aspect-ratio: 16/9;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.related__articles__title{
    font-family: var(--head-font);
    font-size: 24px;
    line-height: 150%;
}
@media (max-width: 768px){
    .blog__hero__wrap{
        min-height: 400px;
    }
    .hero__metadata__wrap{
        align-items: center;
        gap: 10px;
    }
    :is(.hero__meta__blink,.metadata) span{
        font-size: 0.8rem;
        letter-spacing: 0.04rem;
    }
    .hero__blinks{
        width: 20px;
        height: 20px;
    }
    .interactive__sec{
        flex-direction: column;
        gap: 20px;
        padding-inline: 10px;
    }
    .share__topic{
        text-align: left;
    }
    .blog__body{
        padding-inline: 0px;
    }
    .blog__content__wrap{
        margin: 20px auto;
    }
    .blog__content__wrap :is(ol,ul){
        line-height: 150%;
    }
    .blog__content__wrap li{
        margin-block: 0.5rem;
    }
    .related__section__wrap{
        margin-block: 20px;
        padding-inline: 10px;
    }
    .related__section__wrap button{
        scale: 0.6;
    }
    .related__articles__wrap a{
        max-width: 200px;
    }
    .related__articles__title{
        font-size: 18px;
    }
}