.wrap{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
}
.wrap :is(a, p){
    font-size: 0.8rem;
}
.copy{
    text-align: center;
    text-wrap: balance;
}
.github{
    display: flex;
}
.github a{
    max-width: 230px;
    text-align: right;
    margin-left: auto;
    text-wrap: balance;
}
@media (prefers-color-scheme: light) {
    .wrap :is(a, p){
        color: var(--black);
    }
}