.cta__wrap{
    position: relative;
    padding: 100px 3.125%;
    display: grid;
    grid-template-columns: 1fr fit-content(450px);
    justify-content: space-between;
    gap: 5%;
    background-color: var(--bg-hexa);
    z-index: 1;
}
.cta__wrap h2{
    font-size: 3rem;
    line-height: 150%;
    margin: 0;
}
.cta__wrap p{
    font-size: 2rem;
    line-height: 150%;
    letter-spacing: 5%;
    margin-top: 40px;
}
.foot__cards_wrap{
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    left: 0;
    padding: 60px 3.125% 10px 3.125%;
    color: var(--black);
    background-color: var(--preloader-bg);
    z-index: -1;
}
.foot__cards_wrap ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    max-width: 1800px;
    margin-inline: auto;
    gap: 20px;
    padding: 0%;
}
.foot__cards_wrap li{
    max-width: 350px;
    height: 120px;
    overflow: hidden;
}
.foot__cards_wrap li:nth-child(2){
    border: solid 0px var(--color-500);
    border-left: 1px;
    border-right: 1px;
}
.foot__cards_wrap hr{
    display: none;
}
@media (hover: hover){
    .foot__cards_wrap li:hover .left{
        transform: translateY(-50px);
    }
    .foot__cards_wrap li:hover .link__pri__text:first-child, 
    .link__pri__text:last-child{
        opacity: 0;
    }
}
.foot__cards_wrap a{
    display: grid;
    grid-template-columns: 1fr 50px;
    gap: 20px;
}
.left{
    display: grid;
    row-gap: 20px;
    transition: all 500ms ease-in-out;
    text-align: left;
}
.link__pri__text{
    font-family: 'Suisse Intl Light';
    font-size: 22px;
    font-weight: 300;
    line-height: 28.53px;
    transition: opacity 350ms ease-in-out;
}
.foot__cards_wrap li:hover .link__pri__text:last-child{
    opacity: 1;
}
.link__sec__text{
    font-family: Suisse Neue Light;
    font-size: 48px;
    font-weight: 500;
    line-height: 100%;
}
.svg__wrap{
    display: grid;
    place-content: center;
    border: solid 2px var(--black);
    width: 50px;
    height: 70px;
    border-radius: 5px;
    overflow: hidden;
    transition: all 300ms ease-in-out;
}
@media (hover: hover){
    .foot__cards_wrap li:hover .svg__wrap{
        height: 120px;
        border-radius: 50px;
        background-color: var(--black);
    }
    .foot__cards_wrap li:hover .svg__wrap svg{
        transform: rotate(1.125turn);
        opacity: 1;
    }
    .foot__cards_wrap li:hover .svg__wrap path{
        stroke: var(--preloader-bg);
    }
}
.svg__wrap svg{
    fill: var(--black);
    opacity: 0.3;
}
.svg__wrap path{
    stroke: var(--black);
}
@media (max-width: 1090px){
    .cta__wrap{
        grid-template-columns: auto;
    }
}
@media (max-width: 768px) {
    .cta__wrap{
        padding: 50px 10px;
        gap: 20px;
    }
    .cta__wrap h2{
        font-size: 1.5rem;
    }
    .cta__wrap p{
        text-align: right;
        font-size: 1rem;
        margin-top: 20px;
    }
    .foot__cards_wrap{
        padding: 40px 10px;
    }
    .foot__cards_wrap ul{
        flex-direction: column;
    }
    .foot__cards_wrap{
        overflow: visible;
    }
    .foot__cards_wrap li{
        max-width: 100%;
        height: fit-content;
    }
    .foot__cards_wrap li:hover .left{
        transform: translateY(0px);
    }
    .foot__cards_wrap hr:not(:last-child){
        display: block;
        margin: 0;
    }
    .foot__cards_wrap a{
        align-items: flex-end;
    }
    .left{
        row-gap: 10px;
    }
    .link__pri__text{
        font-size: 1rem;
    }
    .link__sec__text{
        font-size: 1.8rem;
    }
    .foot__cards_wrap li:hover .link__pri__text:first-child, 
    .link__pri__text:last-child, .link__pri__text{
        opacity: 1;
    }
    .link__pri__text:last-child{
        text-wrap: balance;
    }
    .right, .svg__wrap{
        height: 100%;
    }
}