.hero{
    width: 100%;
    height: 200vh;
    overflow: clip;
    padding: 50px 3.125%;
}
.hero__inner__sec{
    position: sticky;
    top: 50px;
}
.hero__inner__sec:first-child{
    position: sticky;
    top: 50vh;
    -webkit-translate: 0% -50%;
    translate: 0% -50%;
}
.hero__sec__one{
    transform-origin: center;
}
.hero__sec__one :is(h1, p){
    opacity: 0;
}
.hero__sec__one img{
    width: 100%;
    height: 100%;
    aspect-ratio: 774/130;
    object-fit: contain;
    object-position: center;
}
.hero__logo{
    aspect-ratio: 774/130;
    object-fit: cover;
    object-position: center center;
    background-image: var(--akandaDev);
    background-repeat: no-repeat;
    background-size: cover;
}
.hero__two__sec{
    padding-top: 50px;
}
.hero__two__sec__wrapper{
    display: grid;
    position: relative;
}
.list__wrap{
    display: grid;
    grid-template-columns: calc( 50% - 60px ) auto;
    gap: 60px;
    align-items: center;
}
.list__copy__wrapper{
    display: grid;
    gap: 20px;
}
.list__copy__wrap{
    cursor: pointer;
    border-bottom: solid 1px var(--acd-border);
    overflow: hidden;
}
.list__copy__wrap h3{
    margin-bottom: 10px;
}
.list__body{
    overflow: hidden;
}
.intro__sec{
    padding: 50px 3.125%;
}
.intro__sec__title{
    /* max-width: 1050px; */
    max-width: 35%;
    text-transform: capitalize;
}
.intro__sec__img{
    max-width: 800px;
    /* height: 550px; */
    aspect-ratio: 100/55;
    object-fit: cover;
    overflow: hidden;
    margin-block: 20px;
}
.intro__sec__img__wrap{
    aspect-ratio: 1000/616;
    object-fit: cover;

}
.intro__sec__img img{
    width: 100%;
    height: 100%;
}
.intro__sec__sub__title{
    max-width: 66%;
}
@media (max-width: 1070px){
    .hero__sec__one{
        transform-origin: bottom;
    }
    .list__wrap{
        grid-template-columns: calc( 50% - 20px ) auto;
        gap: 20px;
        align-items: flex-start;
    }
    .list__img__wrap img{
        aspect-ratio: 500/650;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
@media (max-width: 500px){
    .list__wrap{
        grid-template-columns: auto;
    }
    .intro__sec__title{
        max-width: 90%;
    }
    .intro__sec__sub__title{
        max-width: 90%;
    }
}